<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/marsphotos" routerLinkActive="active" ariaCurrentWhenActive="page">Mars photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/marsplanet" routerLinkActive="active" ariaCurrentWhenActive="page">Mars planet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
