



<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/marsphotos" routerLinkActive="active" ariaCurrentWhenActive="page">Mars photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/marsplanet" routerLinkActive="active" ariaCurrentWhenActive="page">Mars planet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/solarsystem" routerLinkActive="active" ariaCurrentWhenActive="page">Solarsystem</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/favourites" routerLinkActive="active" ariaCurrentWhenActive="page">Favourites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/order" routerLinkActive="active" ariaCurrentWhenActive="page">Book travel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>

