
<section class="solarsystem-main">

<button  (click)="onLikeClick()" type="button" class="btn btn-primary">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
<path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
</svg>
  Like {{ 2721 + likes }}
</button>

<h2>Stars</h2>
<section class="kortit-flex">

<div *ngFor="let s of solarSystem.bodies">
  <div class="card mx-1 my-1" style="width: 20rem;" *ngIf="s.bodyType === 'Star'">
          <div class="card-header">Star: {{s.englishName}}</div>
            <div class="card-body text-secondary">

              <p class="card-text">Mass: 
                <span class="badge bg-primary badge-pill">
                {{s.mass.massValue}}</span></p>

                <p class="card-text">Massexponent: 
                <span class="badge bg-primary rounded-pill">
                 {{s.mass.massExponent}}</span></p>

               <p class="card-text">Keskisäde: <span class="badge bg-dark badge-pill">
                {{s.meanRadius}}</span></p>

            </div>
    </div>
</div>

</section>


<h2>Planets</h2>
<!--
<div *ngFor="let name of solarSystem.bodies">
    <p *ngIf="name.isPlanet">
        - Planet: {{name.isPlanet}} Show this only if "isPlanet" is true
        id:{{name.id}} Name: {{name.englishName}} 
      </p>
    </div>
  -->

 
  
    <section class="kortit-flex">
      <div *ngFor="let x of solarSystem.bodies">
        <div class="card mx-1 my-1" style="width: 20rem;" *ngIf="x.isPlanet">

                <div class="card-header">Planet: 
                  <span class="badge bg-success badge-pill">{{x.englishName}}
                    </span></div>

                  <div class="card-body text-secondary">

                    <p class="card-text">Kallistuma: 
                      <span class="badge bg-secondary badge-pill">
                      {{x.inclination}}</span></p>

                    <p class="card-text">Mass: 
                      <span class="badge bg-primary badge-pill">
                      {{x.mass.massValue}}</span></p>

                    <p class="card-text">Massexponent: 
                      <span class="badge bg-primary rounded-pill">
                     {{x.mass.massExponent}}</span></p>
                     
                     <p class="card-text">Keskisäde: <span class="badge bg-dark badge-pill">
                      {{x.meanRadius}}</span></p>

                    <p class="card-text">Painovoima: 
                      <span class="badge bg-secondary badge-pill">
                        {{x.gravity}}
                      </span></p>

                    <p class="card-text">Keskilämpötila:
                     
                      <span *ngIf="x.avgTemp > 273.15" class="badge bg-warning badge-pill">
                        {{x.avgTemp - 273.15 | number: '1.0-1'}} C
                      </span>
                        <span *ngIf="x.avgTemp < 273.15" class="badge bg-info badge-pill">
                      {{x.avgTemp - 273.15 | number: '1.0-1'}} C
                    </span>
                    </p>  
                  </div>
          </div>
      </div>
    </section>




  <h2>Moons</h2>
 
<section class="kortit-flex-moons">

<div *ngFor="let x of solarSystem.bodies">
  <div class="card mx-1 my-1" style="width: 20rem;" *ngIf="x.bodyType === 'Moon'">

          <div class="card-header">Name: {{x.englishName}}</div>
            <div class="card-body text-secondary">
              <p class="card-text">Around: {{x.aroundPlanet.planet}}</p>
              <p class="card-text">Body type: {{x.bodyType}}</p>
            </div>
            <div class="card-footer" style="width: 20rem;">
              <small class="text-muted">Discovered: {{x.discoveryDate}} - </small> 
              <small class="text-muted">{{x.discoveredBy}}</small>
            </div>
    </div>
    </div>

</section>

<h2>Asteroids</h2>

<section class="kortit-flex">

<div *ngFor="let ast of solarSystem.bodies">
  <div class="card mx-1 my-1" style="width: 20rem;" *ngIf="ast.bodyType === 'Asteroid'">
      <div class="card-header">Name: {{ast.englishName}}</div>
      <div class="card-body text-secondary">
      <p class="card-text">Body type: {{ast.bodyType}}</p>
    </div>
    <div class="card-footer" style="width: 20rem;">
      <small class="text-muted">Discovered: {{ast.discoveryDate}} - </small> 
      <small class="text-muted">{{ast.discoveredBy}}</small>
    </div>
  </div>
</div>
   </section>       
        
   <h2>Comets</h2>

   <section class="kortit-flex">

    <div *ngFor="let comet of solarSystem.bodies">
      <div class="card mx-1 my-1" style="width: 20rem;" *ngIf="comet.bodyType === 'Comet'">
          <div class="card-header">Name: {{comet.englishName}}</div>
          <div class="card-body text-secondary">
          <p class="card-text">Body type: {{comet.bodyType}}</p>
        </div>
        <div class="card-footer" style="width: 20rem;">
          <small class="text-muted">Discovered: {{comet.discoveryDate}} - </small> 
          <small class="text-muted">{{comet.discoveredBy}}</small>
        </div>
      </div>
    </div>
       </section>   
      </section>