h2 {
    margin-left: 1.5%;
}

.solarsystem-main{
    border: 1px solid #181717;
}

.card, button {
    margin: 1%;
}

.kortit-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;


       
}

.kortit-flex-moons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;

}
